Repository binos30/shopline: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop, syntax_tree, slim-lint, prettier, eslint, rspec

rubocop:
  run: bin/rubocop --force-exclusion -A {staged_files}
  stage_fixed: true

syntax_tree:
  run: bin/bundle exec stree write {staged_files}
  stage_fixed: true

slim-lint:
  run: bin/bundle exec slim-lint {staged_files}

prettier:
  run: yarn prettier --write --cache --cache-location .cache/prettier {staged_files}
  stage_fixed: true

eslint:
  run: yarn eslint --cache --cache-location .cache/eslint --fix --report-unused-disable-directives {staged_files}
  stage_fixed: true

rspec:
  run: bin/rspec {staged_files}

Update dependencies
  .rubocop.yml
  Gemfile
  Gemfile.lock
  package.json
  yarn.lock
Due: prettier

Bump render-deploy action version to v1.4.5
  .github/workflows/ci-cd.yml
Due: prettier

Fix `nonce` attribute for JavaScript tags
  app/views/shared/_google_tag.html.slim
  app/views/site/checkout/success.html.slim
Due: slim-lint

Reorder rendering of Google tag in layout files to fix CSP error
  app/views/layouts/admin.html.slim
  app/views/layouts/application.html.slim
  app/views/layouts/devise.html.slim
Due: slim-lint

chore: upgrade tailwindcss to v4
  Gemfile.lock
  app/assets/stylesheets/application.css
  app/assets/stylesheets/application.tailwind.css
  app/assets/tailwind/application.css
  app/helpers/admin_helper.rb
  app/helpers/application_helper.rb
  app/javascript/controllers/site/cart_controller.js
  app/views/admin/dashboard/index.html.slim
  app/views/admin/shared/_modal.html.slim
  app/views/admin/shared/_sidebar.html.slim
  app/views/layouts/admin.html.slim
  app/views/layouts/application.html.slim
  app/views/layouts/devise.html.slim
  app/views/shared/_alert.html.slim
  app/views/shared/_errors.html.slim
  app/views/shared/_navbar.html.slim
  app/views/shared/_notice.html.slim
  app/views/shared/_product_image_gallery.html.slim
  app/views/shared/_warning.html.slim
  app/views/site/cart/show.html.slim
  app/views/site/categories/_category.html.slim
  app/views/site/home/_banner.html.slim
  app/views/site/home/_categories.html.slim
  app/views/site/home/index.html.slim
  app/views/site/orders/_table.html.slim
  app/views/site/products/show.html.slim
  app/views/site/subscribers/create.html.slim
  app/views/users/registrations/edit.html.erb
  app/views/users/registrations/new.html.erb
  app/views/users/sessions/new.html.slim
  config/tailwind.config.js
Due: rubocop, syntax_tree, slim-lint, prettier, eslint

Fix content security policy config
  config/initializers/content_security_policy.rb
Due: rubocop, syntax_tree

Refactor page title
  app/helpers/application_helper.rb
Due: rubocop, syntax_tree

Implement retry logic for order creation with logging
  app/services/order_creator.rb
Due: rubocop, syntax_tree

Update gems
  Gemfile.lock
Due: none

Move notify honeybadger to a job in CI/CD workflow
  .github/workflows/ci-cd.yml
Due: prettier

Update dependencies
  Gemfile
  Gemfile.lock
  app/assets/tailwind/application.css
  app/controllers/admin/categories_controller.rb
  app/controllers/admin/orders_controller.rb
  app/controllers/admin/products_controller.rb
  app/controllers/admin/stocks_controller.rb
  app/controllers/application_controller.rb
  app/controllers/site/categories_controller.rb
  app/controllers/site/products_controller.rb
  app/controllers/site/subscribers_controller.rb
  app/helpers/application_helper.rb
  app/javascript/controllers/site/cart_controller.js
  app/javascript/controllers/site/products_controller.js
  app/services/checkout_processor.rb
  app/views/admin/orders/_order_items_table.html.slim
  app/views/admin/shared/_modal.html.slim
  app/views/admin/shared/_pagination.html.slim
  app/views/shared/_navbar.html.slim
  app/views/site/orders/_order_items_table.html.slim
  app/views/site/products/show.html.slim
  app/views/users/registrations/edit.html.erb
  config/initializers/devise.rb
  config/initializers/pagy.rb
  package.json
  spec/rails_helper.rb
  spec/requests/admin/categories_spec.rb
  spec/requests/admin/products_spec.rb
  spec/requests/admin/stocks_spec.rb
  spec/support/pagy.rb
  spec/views/admin/categories/index.html.slim_spec.rb
  spec/views/admin/orders/index.html.slim_spec.rb
  spec/views/admin/products/index.html.slim_spec.rb
  spec/views/admin/subscribers/index.html.slim_spec.rb
  yarn.lock
Due: rubocop, syntax_tree, slim-lint, prettier, eslint, rspec

Reduce retry delay to 1 second for order creation
  app/services/order_creator.rb
Due: rubocop, syntax_tree

chore: simplify Node/Yarn setup across Docker and local dev
  .dockerignore
  .node-version
  .vscode/extensions.json
  .yarn/releases/yarn-4.5.0.cjs
  .yarnrc.yml
  Dockerfile
  README.md
  bin/setup
  package.json
  yarn.lock
Due: prettier, eslint

chore: refresh Gemfile.lock dependencies
  Gemfile.lock
Due: none

Bump esbuild from 0.28.0 to 0.28.1
  package.json
  yarn.lock
Due: prettier

ci: pin GitHub Actions to Node 24
  .github/workflows/ci-cd.yml
Due: prettier

ci: enable Corepack and install Yarn deps in GitHub Actions
  .github/workflows/ci-cd.yml
Due: prettier

ci: fix and cache Corepack-managed Yarn in GitHub Actions
  .github/workflows/ci-cd.yml
Due: prettier

ci: use absolute Corepack and Yarn cache paths in Actions
  .github/workflows/ci-cd.yml
Due: prettier

Fix rubocop offenses
  spec/system/homepage_system_spec.rb
  spec/views/admin/categories/show.html.slim_spec.rb
  spec/views/admin/orders/show.html.slim_spec.rb
  spec/views/admin/products/show.html.slim_spec.rb
  spec/views/admin/stocks/show.html.slim_spec.rb
  spec/views/site/cart/show.html.slim_spec.rb
  spec/views/site/categories/show.html.slim_spec.rb
  spec/views/site/products/show.html.slim_spec.rb
Due: rubocop, syntax_tree, rspec

Path conditions:
  rubocop: any of: *.{rake,rb}
  syntax_tree: any of: *.{rake,rb}
  slim-lint: any of: *.slim
  prettier: any of: *.{css,html,js,json,md,mjs,scss,yml}
  eslint: any of: *.{cjs,js,mjs}
  rspec: any of: *_spec.rb
